
.tree-view ul {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.node-element {
  display: flex;
}

.expand-icon {
  transform: none;
  transition: transform 0.2s;
}

.expand-icon.expanded {
  transform: rotate(90deg);
}

.node-element-drag {
  padding: 0.2em 0.5em;
  height: min-content;
  border-radius: 0.2em;
}

.treeRoot {
  height: 100%;
}

.draggingSource {
  opacity: 0.6;
}

.dropTarget {
  background-color: rgba(44, 44, 44, 0.5);
  border-radius: 0.5em;
}
